* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #e8dfd5; /* tono crema similar */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* Contenedor tipo celular */
.mobile-container {
  width: 360px;
  height: 720px;
  background: #f5f1eb;
  border-radius: 30px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.15);
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Logo */
.logo {
  text-align: center;
  margin-bottom: 40px;
}

.logo h1 {
  font-size: 28px;
  color: #4b2e2b;
  letter-spacing: 2px;
}

/* Inputs */
input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 14px;
}

/* Botón principal */
.primary-btn {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #6f4e37;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.primary-btn:hover {
  background: #5a3f2c;
}

/* Links */
.link {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: #6f4e37;
  text-decoration: none;
}
